/* RESET */
* {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  cursor: var(--cursor-bone);
}

img {
  cursor: var(--cursor-paw);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  cursor: var(--cursor-paw);
}

.clearfix::before,
.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

/* :root */
:root {
  /* color */
  --color-main: #d98236;
  --color-sub: #f2c185;
  --color-bg: #f2f2f0;
  --color-text: #401f0c;
  /* font-family */
  /* bold */
  --font-rubik: 'Rubik', sans-serif;
  --font-chango: 'Chango', cursive;
  --font-ericaOne: 'Erica One', cursive;
  /* slant */
  --font-badScript: 'Bad Script', cursive;
  --font-cedarvilleCursive: 'Cedarville Cursive', cursive;
  --font-Caveat: 'Caveat', cursive;
  --font-homemadeApple: 'Homemade Apple', cursive;
  --font-permanentMarker: 'Permanent Marker', cursive;
  /* korean */
  --font-doHyeon: 'Do Hyeon', sans-serif;
  --font-notoSans: 'Noto Sans KR', sans-serif;
  /* width */
  --width-full: 100vw;
  --width-inner: 70vw;
  --width-btn: 10px;
  --width-btnHover: 60px;
  /* cursor */
  --cursor-bone: url(../img/cursor_bone.png), auto;
  --cursor-paw: url(../img/cursor_paw2.png) -50 -200, auto;
  --cursor-bean: url(../img/cursor_bean.png), auto;
}

/* H Tag */
h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: var(--font-rubik);
  color: var(--color-text);
}

h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--font-rubik);
  color: var(--color-text);
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--font-notoSans);
}

h4 span {
  font-weight: normal;
  font-size: 0.9rem;
  font-family: var(--font-notoSans);
}

h5 {
  font-weight: normal;
  font-family: var(--font-rubik);
}

/* #wrap */
#wrap {
  width: var(--width-full);
}

/* main title */
.mung {
  font-family: var(--font-ericaOne);
  font-weight: lighter;
  /* font-size: 10rem; */
  font-size: 5rem;
  text-align: center;
}

.welcome {
  font-family: var(--font-rubik);
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
  /* border: 1px solid red; */
}

/* #header */
/* 
#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-bottom: 5px solid;
    border-color: #f2c185;
    background: rgba(255, 255, 255, 1);
}
#header .logo {
    text-align: center;
    font-size: 3rem;
    line-height: 100px;
}
#header .logo a {
    color: var(--color-main);
}
#header .nav {
    width: var(--width-inner);
}
#header .nav .menu {
    display: flex;
    justify-content: space-around;
}
#header .nav .menu li a {
    font-weight: bolder;
    text-transform: uppercase;
} */
#header {
  position: fixed;
  background: url(../img/roof2.png) no-repeat center bottom;
  z-index: 2;
  width: 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid red; */
}

#header .logo {
  /* width: 430px; */
  width: 550px;
  height: 50px;
  text-align: center;
  font-size: 3rem;
  /* line-height: 60px; */
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#header .logo img {
  width: 100px;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  /* position: absolute;
    top: 20px; */
  /* float: left; */
}

#header .logo a {
  color: var(--color-main);
  display: block;
  width: 440px;
  height: 70px;
  cursor: var(--cursor-paw);
}

#header .nav {
  width: 770px;
  height: 200px;
  position: relative;
}

#header .nav .menu {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
}

#header .nav .menu li {
  width: 192px;
  height: 300px;
  position: relative;
  -webkit-transform: translate(0, 125px);
          transform: translate(0, 125px);
  /* line-height: 650px; */
  text-align: center;
  cursor: var(--cursor-paw);
}

#header .nav .menu li:nth-child(odd) {
  background: url(../img/nav2.png) no-repeat center bottom;
  /* position: relative; */
  top: -227px;
}

#header .nav .menu li:nth-child(even) {
  background: url(../img/nav1-2.png) no-repeat center bottom;
  top: -227px;
}

#header .nav .menu li:hover {
  top: -180px;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

#header .nav .menu li:active {
  font-size: 1.3rem;
}

#header .nav .menu a {
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  /* border: 1px solid red; */
  display: block;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -70px);
          transform: translate(-50%, -70px);
  color: var(--color-text);
}

#header .nav .logo {
  position: absolute;
  top: 2vh;
  left: 50vw;
  -webkit-transform: translate(-330%, 0);
          transform: translate(-330%, 0);
  width: 100px;
}

#header .nav .logo img {
  width: 100%;
}

/* #banner */
#banner .ban_bg {
  /* background: url(../img/coffee-802057_1920.jpg) no-repeat center center fixed; */
  background: url(../img/584_2.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 3;
  height: 120vh;
  position: relative;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

#scrollArrow {
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  font-weight: bolder;
  text-align: center;
  -webkit-animation: scroll 1.5s infinite;
          animation: scroll 1.5s infinite;
  color: #fff;
  display: block;
  width: 100px;
  height: 100px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: var(--cursor-paw);
  background: rgba(64, 31, 12, 0.6);
}

#scrollArrow p {
  border: 1px solid blue;
}

#banner #scrollArrow:active {
  font-size: 1.3rem;
}

#banner #scrollArrow span {
  display: block;
}

/* svg */
@-webkit-keyframes scroll {
  0% {
    top: 97%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    top: 98%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}
@keyframes scroll {
  0% {
    top: 97%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    top: 98%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

/* WELCOME - halfCircle */
/* #banner .ban1 {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
    color: #000;
    mix-blend-mode: screen;
    background: #fff;
    width: 3000px;
    height: 1500px;
    border-radius: 50% 50% 0 0;
}
#banner .ban1 .sub {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
} */
/* WELCOME - triangle */
#banner .ban1 {
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #000;
  mix-blend-mode: screen;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50vw 20vh 50vw;
  border-color: transparent transparent #fff transparent;
}

#banner .ban1 .sub {
  position: absolute;
  top: 10vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/* #banner .ban2 {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, 20vh);
    background: #fff;
    width: 100%;
    height: 20vh;
    line-height: 15vh;
    color: #000;
    mix-blend-mode: screen;
} */
/* neon sign */
x-sign {
  position: absolute;
  width: var(--width-full);
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 35vh;
  font-size: 15rem;
  cursor: var(--cursor-bone);
  --interval: 1s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
  -webkit-animation: flicker steps(100) var(--interval) 1s infinite;
          animation: flicker steps(100) var(--interval) 1s infinite;
}

x-sign:nth-of-type(1) {
  color: lightpink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
  /* font-family: Bad Script; */
  font-family: var(--font-badScript);
  /* font-weight: bolder; */
}

@-webkit-keyframes flicker {
  50% {
    color: white;
    -webkit-filter: saturate(200%) hue-rotate(20deg);
            filter: saturate(200%) hue-rotate(20deg);
  }
}

@keyframes flicker {
  50% {
    color: white;
    -webkit-filter: saturate(200%) hue-rotate(20deg);
            filter: saturate(200%) hue-rotate(20deg);
  }
}

/* #contents */
#contents {
  width: var(--width-inner);
  /* height: 3000px; */
  margin-top: 170px;
  position: relative;
}

#contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contents ul li {
  width: var(--width-full);
  /* float: left; */
  margin-top: 50px;
}

#contents .cont_text {
  width: 50vw;
  /* word-break: keep-all; */
  /* border: 1px solid red; */
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contents .cont_text:nth-child(odd) {
  padding-right: 30px;
}

#contents .cont_text:nth-child(even) {
  padding-left: 30px;
}

#contents .cont_text:nth-child(odd) {
  text-align: right;
}

#contents .cont_text:nth-child(odd) h3 {
  text-align: left;
}

#contents .cont_img {
  float: left;
  width: 400px;
  height: 400px;
}

/* coffee */
#contents .cont_img1 {
  background: url(../img/cont6.png) no-repeat left top fixed;
}

/* dessert */
#contents .cont_img2 {
  background: url(../img/cont5.png) no-repeat right top fixed;
}

/* dog */
#contents .cont_img3 {
  background: url(../img/cont7.png) no-repeat -6vw top fixed;
}

/* .cont2 - gallery */
#contents .cont2 {
  margin-top: 150px;
  width: 100%;
}

#contents .cont2 .cont2_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

#contents .cont2 .container .card a {
  display: block;
  width: 300px;
  height: 300px;
}

#contents .cont2 .container .card img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0;
}

/* image rotate */
.card {
  width: 300px;
  height: 300px;
  /* position: relative; */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  cursor: var(--cursor-paw);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  /* line-height: 50px; */
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  /* opacity: 0; */
  /* position: relative; */
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 2s;
  transition: background 2s;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--color-sub);
  color: var(--color-text);
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: var(--cursor-paw);
  /*   backface-visibility:hidden; */
}

.container:hover img {
  opacity: 0.5;
}

.container:hover .front {
  background: black;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* .cont3 - map */
.cont3 {
  margin-top: 100px;
  text-align: center;
}

.cont3 .map {
  width: 800px;
  height: 650px;
  position: relative;
}

.cont3 .map iframe {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 20px;
  pointer-events: none;
}

.cont3 .map .mapImg {
  position: absolute;
  top: 17%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  border-radius: 20px;
  /* z-index: 5; */
}

.cont3 .map .mapImg .mClick {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: #eee;
}

.cont3 .map .mapImg .mHere {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: crimson;
  display: none;
}

.cont3 .map .mapImg .mClick .mArrowC {
  position: absolute;
  top: 40px;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 22px 10px 0 10px;
  border-color: #eee transparent transparent transparent;
}

.cont3 .map .mapImg .mHere .mArrowH {
  position: absolute;
  top: 40px;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 22px 10px 0 10px;
  border-color: crimson transparent transparent transparent;
}

.cont3 .map .mapImg.on {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mapOn 3s alternate;
          animation: mapOn 3s alternate;
}

.cont3 .map .mapImg.off {
  position: absolute;
  top: 17%;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-animation: mapOff 3s alternate;
          animation: mapOff 3s alternate;
}

@-webkit-keyframes mapOn {
  0% {
    position: absolute;
    top: 17%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  10% {
    position: absolute;
    top: 23%;
    left: 97%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  40% {
    position: absolute;
    top: 50%;
    left: 98%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  80% {
    position: absolute;
    top: 80%;
    left: 55%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  95% {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes mapOn {
  0% {
    position: absolute;
    top: 17%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  10% {
    position: absolute;
    top: 23%;
    left: 97%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  40% {
    position: absolute;
    top: 50%;
    left: 98%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  80% {
    position: absolute;
    top: 80%;
    left: 55%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  95% {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes mapOff {
  0% {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  5% {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  20% {
    position: absolute;
    top: 80%;
    left: 55%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  60% {
    position: absolute;
    top: 50%;
    left: 98%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  90% {
    position: absolute;
    top: 23%;
    left: 97%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    position: absolute;
    top: 17%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

@keyframes mapOff {
  0% {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  5% {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  20% {
    position: absolute;
    top: 80%;
    left: 55%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  60% {
    position: absolute;
    top: 50%;
    left: 98%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  90% {
    position: absolute;
    top: 23%;
    left: 97%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  100% {
    position: absolute;
    top: 17%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

.cont3 .map .mapImg img {
  width: 150px;
  z-index: 99;
}

.cont3 .map .mapImg.on img {
  width: 50px;
  -webkit-animation: mapImgOn 3s alternate;
          animation: mapImgOn 3s alternate;
}

.cont3 .map .mapImg.off img {
  width: 150px;
  -webkit-animation: mapImgOff 3s alternate;
          animation: mapImgOff 3s alternate;
}

@-webkit-keyframes mapImgOn {
  from {
    width: 200px;
  }
  to {
    width: 50px;
  }
}

@keyframes mapImgOn {
  from {
    width: 200px;
  }
  to {
    width: 50px;
  }
}

@-webkit-keyframes mapImgOff {
  from {
    width: 20px;
  }
  to {
    width: 150px;
  }
}

@keyframes mapImgOff {
  from {
    width: 20px;
  }
  to {
    width: 150px;
  }
}

/* #footer */
#footer {
  background-color: var(--color-main);
  margin-top: 100px;
  padding: 30px 0;
  font-size: 0.8rem;
  color: #fff;
  position: relative;
}

#footer a {
  color: #fff;
}

#footer .foot_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  opacity: 0.3;
}

#footer .foot_logo img {
  width: 100%;
}

#footer .foot_inner {
  width: var(--width-inner);
}

#footer .foot_sub li {
  float: left;
  margin-right: 20px;
}

#footer .logo_sns .foot_sns {
  float: right;
}

#footer .logo_sns .foot_sns li {
  display: inline-block;
  height: 30px;
  width: 40px;
  position: relative;
}

#footer .logo_sns .foot_sns .ins {
  width: 25px;
}

#footer .logo_sns .foot_sns .ins svg {
  position: absolute;
  top: 0;
  right: 0;
}

#footer .foot_menu {
  margin-top: 20px;
}

#footer .foot_menu .menu_sub {
  float: left;
}

#footer .foot_menu .menu_sub li {
  line-height: 2.5;
  font-weight: bolder;
  font-size: 1rem;
}

#footer .menu_info {
  float: right;
}

#footer .menu_info li {
  line-height: 2;
  text-align: right;
  width: 300px;
}

#footer .copyright {
  clear: both;
  text-align: center;
  padding-top: 20px;
}

/* #sideBtn */
#sideBtn {
  width: 10vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0vw;
  /* border: 1px solid rgb(129, 63, 74); */
}

#sideBtn .side_menu {
  width: 10vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  /* z-index: 5; */
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* border: 1px solid green; */
}

#sideBtn .side_menu .circle {
  width: 2vw;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* border: 1px solid orange; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 2em 0;
  z-index: 5;
  /* border: 1px solid red; */
}

#sideBtn .side_menu .circle,
#sideBtn .side_menu .circle li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#sideBtn .side_menu .circle li {
  display: block;
  width: var(--width-btn);
  height: var(--width-btn);
  border-radius: 50%;
  background: #eee;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  z-index: 5;
  cursor: var(--cursor-paw);
  /* border: 1px solid red; */
}

#sideBtn .side_menu .circle li.on {
  background: pink;
}

#sideBtn .side_menu .circle li svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: var(--cursor-paw);
  fill: #000;
  mix-blend-mode: screen;
  stroke-width: 20;
  stroke: #fff;
}

#sideBtn .side_menu .circle li:nth-child(2) svg {
  stroke-width: 3;
  fill: #fff;
}

#sideBtn .side_menu .circle li:nth-child(3) svg {
  stroke-width: 0;
  fill: #fff;
}

#sideBtn .side_menu .circle li svg.on {
  stroke: hotpink;
}

/* #sideBtn .side_menu .circle li a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
} */
#sideBtn .side_list {
  width: 15vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 10vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  /* border: 1px solid purple; */
  border-left: 2px solid var(--color-sub);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 1em 0;
  background: #ffffff50;
}

#sideBtn .side_list .side_text {
  width: 5vw;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 1em 0;
  z-index: 1;
  /* border: 1px solid red; */
}

#sideBtn .side_list .side_text,
#sideBtn .side_list .side_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#sideBtn .side_list .side_text li {
  width: var(--width-btn);
  position: absolute;
  text-align: center;
  top: 4vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  width: 10vw;
  /* border: 1px solid blue; */
  transition: all 1s;
  font-weight: bolder;
  font-family: var(--font-rubik);
  color: var(--color-text);
}

#sideBtn .side_menu .circle li span {
  /* position: absolute;
    text-align: center;
    top: 70px;
    left: 5vw;
    width: 5vw;
    border: 1px solid blue;
    transition: all 1s;
    font-weight: bolder;
    font-family: var(--font-rubik);
    color: var(--color-text); */
  opacity: 0;
}

#sideBtn:hover .circle {
  width: 5vw;
  height: 400px;
}

#sideBtn:hover .circle li {
  width: var(--width-btnHover);
  height: var(--width-btnHover);
  /* background: #eee; */
}

#sideBtn:hover .circle li svg {
  width: 50px;
  height: 50px;
}

#sideBtn:hover .circle li:nth-child(3) svg {
  width: 40px;
  height: 40px;
}

#sideBtn:hover .circle li:nth-child(4) svg {
  width: 40px;
  height: 40px;
}

#sideBtn:hover .side_list {
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/* #sideBtn:hover .circle li span {
    left: 50%;
    transform: translateX(-50%); 
}*/
#sideBtn .side_menu .circle li:hover {
  background: gold;
}

#sideBtn .side_menu .circle li:active {
  background: goldenrod;
}

/* iPad Pro */
@media (max-width: 1300px) {
  #contents h2 {
    font-size: 3rem;
  }
  #contents h4 {
    font-size: 0.9rem;
  }
  #contents h4 span {
    font-size: 0.8rem;
  }
  #contents h5.ment {
    display: none;
  }
  #contents h5 {
    font-size: 0.8rem;
  }
  /* dog */
  #contents .cont_img3 {
    background: url(../img/cont7.png) no-repeat 14vw 20vh fixed;
  }
}

/* iPad */
@media (max-width: 768px) {
  x-sign {
    width: 80vw;
    line-height: 1.1;
  }
  #sideBtn {
    display: none;
  }
  #contents h2 {
    font-size: 2rem;
  }
  #contents h4 {
    font-size: 0.8rem;
  }
  #contents h4 span {
    font-size: 0.7rem;
  }
  #contents h5 {
    display: none;
  }
  /* coffee */
  #contents .cont_img1 {
    background: url(../img/cont6.png) no-repeat -33vw -20vh fixed;
  }
  /* dessert */
  #contents .cont_img2 {
    background: url(../img/cont5_1.png) no-repeat 0vw top fixed;
  }
  /* dog */
  #contents .cont_img3 {
    background: url(../img/cont7.png) no-repeat -40vw top fixed;
  }
  /* .cont2 - gallery */
  #contents .cont2 {
    margin-top: 150px;
    width: 100%;
    text-align: center;
  }
  #contents .cont2 .cont2_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
  }
  #contents .cont2 .container .card a {
    display: block;
    width: 150px;
    height: 150px;
  }
  #contents .cont2 .container .card img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 0;
  }
  /* image rotate */
  .card {
    width: 150px;
    height: 150px;
  }
  .front {
    width: 150px;
    height: 150px;
  }
  .back {
    width: 150px;
    height: 150px;
    padding: 0;
    font-size: 0;
  }
  .back h4 {
    line-height: 150px;
  }
  /* .cont3 - map */
  .cont3 .map {
    width: 70vw;
  }
  .cont3 .map iframe {
    width: 70vw;
    height: 400px;
    top: 50px;
    pointer-events: visible;
  }
  .cont3 .mapImg {
    display: none;
  }
  #footer {
    margin-top: 0;
  }
}
