* {margin: 0 auto; padding: 0;}
a {text-decoration: none; color: #333;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

h1 {font-size: 30px;}

#wrap {max-width: 100%; margin: 0 auto; font-size: 14px;}

/* HEADER */
#header {max-width: 100%; text-align: center;}
.top {height: 39px; background: #f2f2f2;
    border-bottom: 1px solid #ccc; box-sizing: border-box;}
.top_inner {max-width: 1200px; margin: 0 auto;}
/* TOP NAV */
.top_nav {float: left;}
.top_nav li {float: left; font-weight: bold;
    border-right: 1px solid #ccc;
    box-sizing: border-box; padding: 10px 30px;}
.top_nav li a {color: #666}
.top_nav li:first-child {background: #fff;
    border-bottom: 1px solid #fff; border-left: 1px solid #ccc;}
.top_nav li:first-child a {color: #c83d67;}
.top_nav li:hover {background: #fff;}
.top_nav li:hover a {color: #c83d67;}
/* TOP MENU */
.top_menu {float: right;}
.top_menu li {display: inline-block; padding: 10px 5px;}
.top_menu li a {color: #aaa; font-size: 12px;}
.top_menu li a:hover {color: #c83d67;}
.top_menu li span {font-size: 10px;}

/* MIDDLE */
.mid {margin: 0 auto; padding: 30px 0 15px;
    border-bottom: 1px solid #ddd; margin: 0 auto;}
.mid_inner {max-width: 1200px;}
/* MID LOGO */
.mid a {color: #666;}
.logo {float: left; padding-left: 10px;}
.logo img {margin-right: 5px;}
/* MID SERCH */
.serch {float: left; margin-left: 50px;}
.serch input {border: 2px solid #f63d8b; width: 400px; height: 33px;
    background: url(../img/btn_set.png) no-repeat 0 0;
    position: relative; background-position: 375px 9px;}
.serch .inputbox {color: #aaa; font-weight: bold;}
/* MID SHOP */
.shop {float: right; font-weight: bold;}
.shop li {display: inline-block; padding: 5px 10px 0;}
.shop li img {vertical-align: middle;}
.shop li a:hover {color: #f63d8b;}

/* BOTTOM */
.bot {max-width: 1200px; font-weight: bold;}
.bot a {color: #666;}
/* BOT LEFT */
.bot_left {float: left; padding: 16px 30px;
    border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.bot_left span {
    background: url(../img/icon_set.png) no-repeat 0 0;
    position: relative; top: 5px; left: -10px;
    background-position: -150px -181px; width: 10px; height: 10px;}
.bot_left a:hover {color: #f63d8b;}
.bot_left a:hover span {
    background: url(../img/icon_set.png) no-repeat 0 0;
    position: relative; top: 5px; left: -10px;
    background-position: -150px -236px; width: 10px; height: 10px;}

/* BOT MID */
.bot_mid {float: left; padding: 14px 30px 0;}
.bot_mid span {float: left; background: url(../img/icon_snb.png) no-repeat 0 0;
    position: relative; background-position: -130px 0; width: 85px; height: 25px;}
.bot_mid img {float: left;}
.bot_mid ul {float: left;}
.bot_mid_ti {display: inline-block; margin: 0 10px; position: relative;}
.bot_mid_ti a:hover {color: #f63d8b;}
.bot_mid_sub {width: 1200px; background: #fff; position: absolute;
    top: 36px; left: -290px;}
.bot_mid_sub a:hover {color: #f63d8b;}
.bot_mid_sub> li {float: left; width: 20%; height: 180px; padding: 15px;
    border-top: 1px solid #ddd; border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd; box-sizing: border-box;}
.bot_mid_sub>li:last-child {border-right: 1px solid #ddd; box-sizing: border-box;}
.bot_mid_sub li ul {display: block; width: 100%; text-align: left; margin-bottom: 10px;}
.bot_mid_sub li ul li {display: block; font-weight: lighter;}
.bot_mid_sub> li >ul >li:nth-child(1) {font-weight: bold;}
.bot_mid_sub> li >ul >li:nth-child(2) {margin-top: 10px;}

/* BOT RIGHT */
.bot_right {float: right; padding: 0 30px;
    border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #f8f8f8;}
.bot_right p {padding-top: 14px}
.bot_right span {background: url(../img/icon_set.png) no-repeat 0 0;
    position: relative; top: -12px; left: 37px;
    background-position: 0 -550px; width: 10px; height: 10px;}
.bot_right a:hover {color: #f63d8b;}
.bot_right a:hover span {background: url(../img/icon_set.png) no-repeat 0 0;
    position: relative; top: -12px; left: 37px;
    background-position: 0 -602px; width: 10px; height: 10px;}


/* BANNER */
#banner {max-width: 100%; height: 380px;
    background: url(../img/bg_top.jpg) no-repeat center center;
    text-align: center; color: #fff;}
#banner a {color: #fff;}
.ban_logo {padding-top: 50px;}
.ban_sub {font-size: 16px; line-height: 1.5; padding: 25px 0;}
.ban_btn {border: 1px solid #aaa; width: 200px; padding: 15px 20px; font-weight: bold;}
.ban_btn:hover {border: 1px solid #fff;}
.ban_btn span {background: url(../img/icon_set_2.png) no-repeat 0 0;
    position: relative; background-position: -490px -146px; width: 10px; height: 10px;}
.ban_li {margin-top: 40px; text-align: center; background: url(../img/img_02.png) no-repeat center center;}
.ban_li li {display: inline-block; text-align: left; color: #bc9b6a;}
.ban_li li:first-child {width: 150px; padding-left: 80px;}
.ban_li li:nth-child(2) {width: 175px; padding-left: 95px;}
.ban_li li:nth-child(3) {width: 150px; padding-left: 80px;}
.ban_li li:last-child {width: 130px;padding-left: 80px;}

/* CONTENTS1 */
#contents1 {text-align: center; padding-top: 100px; color: #fff;
    background: url(../img/bg_02.jpg) no-repeat center center;}
/* CONT1 INNER */
.cont_inner {width: 1200px; margin: 0 auto;}
.hot {padding: 10px; width: 230px; font-weight: bold;
    background: #bc9b6a; border-radius: 30px;}
.cont1_inner h1 {font-size: 50px; margin-top: 40px; font-weight: lighter;}
.cont1_inner > p {margin-top: 20px; text-decoration: underline;
    font-size: 16px; line-height: 2;}
.cont1_inner ul {margin-top: 50px; max-width: 1200px;}
.cont1_inner li {display: inline-block; width: 285px; height: 290px;
    vertical-align: top; position: relative;
    background: #fff; text-align: left; margin-left: 10px;
    box-shadow: 0 0 10px black; overflow: hidden;}
.cont1_inner li:first-child {margin-left: 0px}
.cont1_inner .img {background: #000;}

.cont1_sub {padding: 10px; width: 265px; height: 300px;
    background: #fff; position: absolute; top: 160px;
    -webkit-transition: all 0.5s ease-out;
}
.cont1_sub h2 {color: #e85581; font-size: 12px;}
.cont1_sub p {font-weight: bold; font-size: 16px; line-height: 1.5; padding: 10px 0;}
.cont1_sub h3 {color: #e85581; font-size: 14px;}
.cont1_sub h3 span {font-size: 20px;}
.cont1_inner img {width: 100%}

.line {border-bottom: 2px dotted #ddd; padding-top: 15px;}
.cont1_btn {padding: 10px 25px; width: 70px; margin-top: 15px; border-radius: 2px;
    background: #e85581; color: #fff; font-weight: bold;}
.cont1_btn span {background: url(../img/icon_set_2.png) no-repeat 0 0;
    position: relative; background-position: -490px -147px;
    width: 10px; height: 10px;}
.cont1_btn:hover {background: #ff5e8f;}

.cont1_inner li:hover .cont1_sub {top: 80px;}
.cont1_inner li:hover .img img {opacity: 0.5}

/* CONT1 MENU */
.cont1_menu {margin-top: 70px;
    background: rgba(0,0,0,0.5); font-size: 16px;}
.cont1_menu ul {}
.cont1_menu li {display: inline-block; padding: 25px 20px;}
.cont1_menu li a {color: #aaa;}
.cont1_menu li a:hover {color: #fff; font-weight: bold;
border-bottom: 2px solid #fff; padding-bottom: 5px;}

/* CONTENTS2 */
#contents2 {max-width: 100%; text-align: center;}
.cont2_top {padding-top: 50px;}
.cont2_top p {font-weight: bold; padding: 10px 0 30px;}
.cont2_top ul {}
.cont2_top li {display: inline-block; /*padding: 10px 30px;*/ margin-left: -5px;
    width: 171px; padding: 20px 0;
    border-top: 1px solid #aaa; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;
    box-sizing: border-box;}
.cont2_top li a:hover {font-weight: bold; text-decoration: underline;}
.cont2_top li:first-child {border: 1px solid #e85581; background: #e85581;}
.cont2_top li:first-child a {color: #fff;}

.cont2_inner {background: url(../img/bg_asia.jpg) no-repeat center 0;
    margin-top: 30px; color: #fff; padding-top: 30px;}
.cont2_inner h4 {line-height: 2;}
.cont2_inner p {margin-top: 15px;}
.cont2_in_li {max-width: 1200px; margin-top: 50px;}
.cont2_in_li li {width: 380px; height: 330px; margin-left: 20px;
    display: inline-block; vertical-align: top; text-align: left;
    position: relative; overflow: hidden;
    border-bottom: 2px solid #aaa;}
.cont2_in_li li:first-child {margin-left: 0;}
.cont2_in_li li img {width: 100%;}
.cont2_in_li li {background: #000;}

.cont2_in_sub {padding: 10px; width: 380px; height: 300px;
    background: #fff; position: absolute; top: 230px;
    border-right: 1px solid #ccc; border-left: 1px solid #ccc; box-sizing: border-box;
    -webkit-transition: all 0.5s ease-out;
}
.cont2_in_sub h2 {font-weight: bold; font-size: 16px; line-height: 1.5;}
.cont2_in_sub h3 {color: #e85581; font-size: 14px;}
.cont2_in_sub h3 span {font-size: 20px;}
.cont2_inner li:hover .cont2_in_sub {top: 160px;}
.cont2_inner li:hover .cont2_img {opacity: 0.5}
.cont2_inner li:hover .tag_in {opacity: 0.5}
.tag {background: #000; position: absolute; width: 60px; height: 60px;
    right: 0; top: 0;}
.tag_in {background: #e85581; position: absolute; width: 60px; height: 50px;
    right: 0; top: 0; color: #fff; text-align: center; padding-top: 10px;}

/* CONTENTS4 */
#contents3 {max-width: 100%; background: #f2f2f2;
    margin: 50px auto 0; padding: 50px 0; text-align: center;}
#contents3 p {padding: 20px 0 30px;}
/*
.cont3_inner_sub {position: relative;}
.cont3_inner {width: 1200px;}
.cont3_inner li {display: inline-block; width: 380px; height: 230px; margin-right: 0.5%; overflow: hidden; margin-top: 10px;}
.cont3_inner li:nth-child(3) {margin: 0;}
.cont3_inner li:last-child {margin: 0;}

.cont3_in_img {background: #000; position: absolute; overflow: hidden;
    left: 0; right: 0; top: 0; bottom: 0; opacity: 1; padding: 0;}
.cont3_img {}
.cont3_img img {width: 100%; transition: all .5s;}
.cont3_img span {width: 300px; height: 28px;
    position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -150px;
    color: #fff; font-size: 18px; font-weight: bold;}

.cont3_img:hover >img {opacity: 0.5; width: 120%;}
.cont3_img::after{content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
*/
.cont3_inner {max-width: 1200px;}
.cont3_inner_sub {background: #000; width: 390px; height: 230px; float: left; margin-top: 15px; margin-right: 15px; position: relative;}
.cont3_inner_sub:nth-child(3) {margin-right: 0;}
.cont3_inner_sub:last-child {margin-right: 0;}
.cont3_img { width: 390px; height: 230px; float: left;
    transition: all .7s;}
.cont3_img1 {background: url(../img/P001103861_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_img2 {background: url(../img/P000746038_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_img3 {background: url(../img/P001113612_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_img4 {background: url(../img/P000639331_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_img5 {background: url(../img/P001101540_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_img6 {background: url(../img/P000717274_M.jpg) no-repeat center center; background-size: 100%;}
.cont3_in_img:hover .cont3_img {opacity: 0.5; background-size: 130%;}
.cont3_img::after {content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}

.cont3_inner span {width: 300px; height: 28px;
    position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -150px;
    color: #fff; font-size: 18px; font-weight: bold;}

.cont3_btn {padding: 10px 25px; width: 100px; margin-top: 50px; border-radius: 2px;
    border: 1px solid #e85581; color: #e85581; font-weight: bold;}
.cont3_btn span {background: url(../img/icon_set_2.png) no-repeat 0 0;
    position: relative; background-position: -486px -57px;
    width: 10px; height: 10px;}
.cont3_btn:hover {border-color: #ff5e8f; color: #ff5e8f;}

/* BANNER2 */
#contents4 {max-width: 100%; margin: 0 auto;}
#contents4 div {max-width: 1200px; padding: 50px 0;}
#contents4 div img {width: 100%;}

/* FOOTER */
#footer {max-width: 100%; margin: 0 auto; color: #666;}
#footer a { color: #666;}
.foot1 {background: #f8f8f8; height: 70px; color: #222; padding-left: 10px;
    border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1;}
.foot1 a {color: #222;}
.foot1_inner {max-width: 1200px;}

.foot1_left {width: 50%; float: left;
    border-right: 1px solid #d1d1d1; box-sizing: border-box;}
.foot1_left ul {float: left; margin-right: 20px; padding: 15px 0;}
.foot1_left ul li {display: inline-block;}
.foot1_le_txt {padding: 11px 0; font-weight: bold;}
.sns_fa {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -0 0; text-indent: -99999px;}
.sns_in {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -322px 0; text-indent: -99999px;}
.sns_bl {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -92px 0; text-indent: -99999px;}
.sns_ka {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -276px 0; text-indent: -99999px;}
.sns_pl {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -184px 0; text-indent: -99999px;}
.sns_yo {background: url(../img/sns_mark01.png) no-repeat 0 0;
    width: 40px; height: 40px;
    position: relative; background-position: -230px 0; text-indent: -99999px;}
.foot1_sns li:hover {opacity: 0.7}

.foot1_right {float: left; padding-left: 20px;}
.foot1_right >ul {float: left; padding: 15px 0;}
.foot1_ri_txt {padding: 10px 0; margin-right: 50px;}
.foot1_ri_txt {font-weight: bold;}
.foot1_ri li{}
.foot1_ri_icon {}
.foot1_ri_icon li {display: inline-block; vertical-align: middle;}
.foot1_icon1 {display: block;}
.foot1_icon1 {background: url(../img/icon_set.png) no-repeat 0 0;
    width: 39px; height: 36px;
    position: relative; background-position: -460px -200px; text-indent: -99999px;}
.foot1_icon2 {background: url(../img/icon_set.png) no-repeat 0 0;
    width: 39px; height: 36px;
    position: relative; background-position: -460px -390px; text-indent: -99999px;}
.foot1_icon3 {background: url(../img/icon_set.png) no-repeat 0 0;
    width: 39px; height: 36px;
    position: relative; background-position: -460px -87px; text-indent: -99999px;}
.foot1_icon4 {background: url(../img/icon_set.png) no-repeat 0 0;
    width: 39px; height: 36px;
    position: relative; background-position: -460px -262px; text-indent: -99999px;}
.foot1_icon5 {background: url(../img/icon_set.png) no-repeat 0 0;
    width: 39px; height: 36px;
    position: relative; background-position: -460px -330px; text-indent: -99999px;}

.foot_bot {background: #f2f2f2; font-size: 12px;}
.foot2 {margin: 0 auto; padding-left: 10px;
    border-bottom: 1px solid #d1d1d1; box-sizing: border-box;}
.foot2_inner {max-width: 1200px;}
.foot2_left {float: left;}
.foot2_inner > ul {border-left: 1px solid #d1d1d1; box-sizing: border-box;
    padding: 15px 0;}
.foot2_inner > ul:first-child {border: none;}
.foot2_inner > ul:nth-child(3) {border-right: 1px solid #d1d1d1; box-sizing: border-box;}
.foot2_left {width: 70%; padding: 10px 0 10px 5px;}
.foot2_left li {padding-right: 20px;}
.foot2_left li a:hover {border-bottom: 1px solid #555}
.foot2_mid {width: 15%; float: left;}
.foot2_mid li ul li {padding: 0 27px;}
.foot2_right {width: 15%; float: right;}
.foot2_right li ul li {padding: 0 30px;}
.foot2 li {display: inline-block;}
.foot2 span {background: url(../img/icon_set.png) no-repeat 0 0;
    position: relative; width: 10px; height: 10px; left: 30px;
    background-position: 0 -235px;}

.foot3 {padding: 20px 0 20px 10px; font-size: 11px;}
.foot3_left {float: left;}
.foot3_left ul {margin: 15px 0;}
.foot3_left ul li {line-height: 1.5}
.foot3_right {float: right;}
.foot3_right img {width: 230px;}
.foot3_right {}
.foot3_right {}
.foot3_right {}
.foot3_icon1 {float: left; margin-top: 10px;
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 80px; height: 30px; padding: 10px;
    background-position: 0 0;}
.foot3_icon2 {float: right; margin-top: 10px;
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 100px; height: 30px; padding: 10px;
    background-position: 0 -145px;}

.foot4 {margin: 0 auto; text-align: center;
    border-top: 1px solid #e3e3e3; padding: 10px 0 40px;}
.foot4 ul li {display: inline-block;}
.foot4_btn_pre {
    background: url(../img/btn_set.png) no-repeat 0 0;
    position: relative; width: 28px; height: 38px;
    background-position: -350px 0; margin-right: 50px;}
.foot4_btn_pre:hover {
    background: url(../img/btn_set.png) no-repeat 0 0;
    position: relative; width: 28px; height: 38px;
    background-position: -350px -80px;}

.foot4_icon1 {
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 180px; height: 40px;
    background-position: -200px -280px;}

.foot4_icon2 {
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 180px; height: 40px;
    background-position: -200px -232px;}

.foot4_icon3 {
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 180px; height: 40px;
    background-position: -200px -50px;}

.foot4_icon4 {
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 180px; height: 40px;
    background-position: -200px -95px;}

.foot4_icon5 {
    background: url(../img/img_selection.png) no-repeat 0 0;
    position: relative; width: 180px; height: 40px;
    background-position: -200px -187px;}

.foot4_btn_next {
    background: url(../img/btn_set.png) no-repeat 0 0;
    position: relative; width: 28px; height: 38px;
    background-position: -471px 0; margin-left: 50px;}
.foot4_btn_next:hover {
    background: url(../img/btn_set.png) no-repeat 0 0;
    position: relative; width: 28px; height: 38px;
    background-position: -471px -80px;}






