/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
            */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #333;
    font-family: 'Spoqa Han Sans Regular', 'Apple SD Gothic Neo', 'sans-serif';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix::before,
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

@font-face {
    font-family: 'Spoqa Han Sans Regular';
    src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.eot);
    src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.eot#iefix) format('embedded-opentype'),
        /* IE 6 ~ 8 */ url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.woff) format('woff'),
        /* 모던 브라우저 */ url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Bold';
    src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.eot);
    src: url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */ url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.woff) format('woff'),
        /* 모던 브라우저 */ url(https://akamai.pizzahut.co.kr/font/SpoqaHanSansBold.ttf) format('truetype');
}

$mainColor: #c10c2a;
$subColor: #acacac;
$bgColor: #f0f0f0;
$pointColor: #ffc327;

#header {
    position: relative;
    font-weight: bolder;

    .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .topMenu {
        margin: 0 auto;
        max-width: 1180px;
        height: 65px;
        line-height: 65px;

        .topMenu-left {
            float: left;
            display: flex;
            width: 121px;
            justify-content: space-between;
        }
        .topMenu-right {
            float: right;
            display: flex;
            width: 246px;
            justify-content: space-between;

            li {
                a {
                    svg {
                        width: 33px;
                    }
                }
            }
        }
    }
    .nav {
        margin: 0 auto;
        background: $mainColor;
        height: 63px;
        line-height: 63px;

        .navInner {
            max-width: 1180px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .nav-left {
                display: flex;
                // float: left;
                width: 412px;
                justify-content: space-between;

                li {
                    a {
                        color: #fff;
                        svg {
                            width: 22px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .nav-right {
            display: flex;
            // float: right;
            justify-content: space-around;
            width: 440px;

            li {
                a {
                    margin-top: 13px;
                    width: 140px;
                    height: 37px;
                    display: block;
                    line-height: 37px;
                    text-align: center;
                    border-radius: 10px;
                    background: #fff;

                    span {
                        color: $mainColor;
                    }
                    img {
                        width: 20px;
                        vertical-align: middle;
                    }
                }

                &:first-child {
                    a {
                        background: $pointColor;
                        span {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

#banner {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 472px;
    background: url(../img/wh_new_bg.jpg);

    .slideList {
        width: 1180px;
        height: 472px;
        position: relative;
        top: 22px;
        left: 50%;
        transform: translate(-50%, 0);
        overflow: hidden;

        .slideImg {
            position: absolute;
            width: 7100px;

            div {
                width: 1180px;
                float: left;
                display: block;
            }
        }
    }
    .banBtn {
        width: 202px;

        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translate(-50%, 0);

        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            width: 140px;
            height: 28px;
            line-height: 28px;
            justify-content: space-between;

            li {
                margin-top: 8px;
                width: 12px;
                height: 12px;
                display: block;
                border-radius: 6px;
                background: #fff;
                cursor: pointer;

                &.on {
                    width: 30px;
                    background: $mainColor;
                    transition: all 0.5s;
                }
                &:hover {
                    background: $mainColor;
                }
            }
        }
    }
}

#contents {
    .cont1 {
        margin: 0 auto;
        max-width: 1180px;
        height: 575px;
        // border: 1px solid red;

        ul {
            height: 575px;
            max-width: 1180px;
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // grid-gap: 20px;
            // padding: 20px 0;

            box-sizing: border-box;

            display: flex;
            flex-wrap: wrap-reverse;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            li {
                width: 580px;
                height: 165px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
    .cont2 {
        height: 396px;
        background: $bgColor;

        ul {
            margin: 0 auto;
            max-width: 1180px;
            height: 396px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            grid-gap: 20px;
            padding: 20px 0;
            box-sizing: border-box;

            li {
                width: 580px;
                img {
                    width: 100%;
                }
                &:nth-child(3),
                &:nth-child(4) {
                    height: 137px;
                    background: #fff;
                }

                div {
                    line-height: 50px;
                    position: relative;
                    text-align: center;

                    span {
                        background: url(../img/board_mark.png) no-repeat 0 0;
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    div {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 536px;
                        height: 59px;
                        line-height: 59px;
                        padding-left: 20px;
                        box-sizing: border-box;
                        background: $bgColor;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                        text-align: left;
                    }
                    p {
                        width: 35px;
                        height: 35px;
                        background: url(../img/bg_black_60per.png) no-repeat 0 0;
                        background-size: cover;
                        opacity: 0.35;
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 2rem;
                        color: #fff;
                        line-height: 33px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .cont3 {
        margin: 0 auto;
        width: 1180px;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        flex-wrap: wrap;
        ul {
            margin-top: 22px;

            &:nth-child(1),
            &:nth-child(2) {
                width: 590px;
                height: 65px;
                line-height: 65px;
                padding: 0 20px;
                box-sizing: border-box;
                background: $subColor;
                display: flex;
                justify-content: space-between;
                border-right: 1px solid #fff;
                li {
                    span {
                        background: url(../img/call_button01.jpg) no-repeat 0 0;
                        width: 25px;
                        height: 26px;
                        display: inline-block;
                        vertical-align: text-bottom;
                        margin-right: 10px;
                    }
                }
            }
            &:nth-child(3) {
                width: 1180px;
                height: 45px;
                line-height: 45px;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid $subColor;
                border-bottom: 1px solid $subColor;

                li {
                    a {
                        color: #333;
                    }
                }
            }

            &:nth-child(4) {
                margin: 0 auto;
                width: 851px;
                height: 157px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    a {
                        span {
                            display: block;
                            text-align: center;
                            font-size: 0.9rem;

                            &:last-child {
                                margin-top: 10px;
                            }

                            img {
                                width: 45px;
                            }
                        }
                    }

                    &:first-child {
                        a {
                            span {
                                color: #6da300;
                            }
                        }
                    }
                }
            }
            li {
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }
    }
}

#footer {
    margin: 0 auto;
    width: 1180px;
    height: 144px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    div {
        line-height: 1.3;

        &:nth-child(1) {
            background: url(../img/foot_logo.png) no-repeat 0 0;
            width: 130px;
            height: 33px;
        }

        &:nth-child(2) {
            width: 780px;
            ul {
                line-height: 1.5;
                font-size: 0.8rem;

                &:last-child {
                    margin-top: 10px;
                }
            }
        }
        &:nth-child(3) {
            ul {
                width: 256px;
                li {
                    text-align: center;
                    span {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}

#sideMenu {
    position: fixed;
    top: 50%;
    left: 85vw;
    transform: translate(-50%, -50%);
    div {
        width: 90px;

        ul {
            margin-top: 10px;
            padding-bottom: 10px;
            background: #fff;
            text-align: center;
            border-top: 10px solid $mainColor;
            li {
                margin-left: 10px;
                width: 70px;
                height: 80px;
                box-sizing: border-box;
                position: relative;
                border-bottom: 1px solid #333;

                a {
                    font-size: 0.8rem;
                    font-weight: 500;

                    span {
                        width: 80px;
                        display: block;
                        position: absolute;
                        &:nth-child(1) {
                            height: 50px;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &:nth-child(2) {
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%, -100%);
                            padding-bottom: 20%;
                            box-sizing: border-box;
                        }
                    }
                }

                &:nth-child(1) {
                    span:first-child {
                        background: url(../img/ico_quick1.png) no-repeat center center;
                    }
                }
                &:nth-child(2) {
                    span:first-child {
                        background: url(../img/ico_nomember.png) no-repeat center center;
                    }
                }
                &:nth-child(3) {
                    span:first-child {
                        background: url(../img/ico_quick3.png) no-repeat center center;
                    }
                }
                &:nth-child(4) {
                    span:first-child {
                        background: url(../img/ico_quick_tvc.png) no-repeat center center;
                    }
                }
                &:nth-child(5) {
                    border: none;

                    span:first-child {
                        background: url(../img/startup_icon.png) no-repeat center center;
                    }
                }
            }
        }
    }
}
